{{> menu}}

<section class="ui center aligned middle aligned inverted segment">
  <h1 class="ui header">
    Welcome {{fullname}} to Videx Playlists
  </h1>
  <img src = "https://cdn.glitch.com/0844c796-616e-4f71-82b2-e3ab01c81611%2FFilm.png?1551196691674">
  <p>
    This app is to help you organise your favourite videos. In the past I have enjoyed countless hours of videos on the internet and on some websites like YouTube you can create lists of videos to help keep track of you favourites. What if you use more than one site to watch videos and you want to be able to add those videos to your own custom playlists, well thats why i made Videx Playlists. With Videx Playlists you can create your own playlists and and save videos from any site with their URL, this allows you to build playlists of your favourite videos no matter what site their from.
  </p>
  <h2>
    Your Statistics
  </h2>
  <section class = "ui center aligned secondary inverted black segment">
 <div class = "ui three small statistics">
   <div class = "ui inverted blue statistic">
    <div class = "value">
      <i class = "clone icon"></i>{{loginVidex}}
    </div>
    <div class = "label">
    Videx Lists
    </div>
   </div>
   <div class = "ui inverted violet statistic">
    <div class = "value">
      <i class = "th icon"></i>{{loginItems}}
    </div>
    <div class = "label">
    Items
    </div>
   </div>
   <div class = "ui inverted purple statistic">
    <div class = "value">
       <i class = "th list icon"></i>{{loginAvgVidex}}
    </div>
    <div class = "label">
    Average Items
    </div>
   </div>
   </div>
  <div class = "ui two small statistics">
   <div class = "ui inverted pink statistic">
    <div class = "value">
      {{loginHighName}}
    </div>
    <div class = "label">
    Longest list
    </div>
   </div>
   <div class = "ui inverted red statistic">
    <div class = "value">
      {{loginLowName}}
    </div>
    <div class = "label">
    Shortest list
    </div>
   </div>
   
  </div>
    </section>  
   <h2>
    All Users Statistics
  </h2>
   <section class = "ui center aligned secondary inverted black segment">
 <div class = "ui four small statistics">
  <div class = "ui inverted teal statistic">
    <div class = "value">
      <i class = "user icon"></i>{{totalUsers}}
    </div>
    <div class = "label">
    Users
    </div>
   </div>
   <div class = "ui inverted blue statistic">
    <div class = "value">
      <i class = "clone icon"></i>{{totalVidex}}
    </div>
    <div class = "label">
    Videx Lists
    </div>
   </div>
   <div class = "ui inverted violet statistic">
    <div class = "value">
      <i class = "th icon"></i>{{totalItems}}
    </div>
    <div class = "label">
    Items
    </div>
   </div>
   <div class = "ui inverted purple statistic">
    <div class = "value">
      <i class = "th list icon"></i>{{avgVidex}}
    </div>
    <div class = "label">
    Average Items
    </div>
   </div>
   </div>
 <div class = "ui two small statistics">
   <div class = "ui inverted pink statistic">
    <div class = "value">
      {{highName}}
    </div>
    <div class = "label">
    Longest list
    </div>
   </div>
   <div class = "ui inverted red statistic">
    <div class = "value">
      {{lowName}}
    </div>
    <div class = "label">
    Shortest list
    </div>
   </div>
  </div>
 </section>
</section>